body {
    color: #fafafa;
}

input, button, a {
    outline: none;
}

.root {
    background: #040301 url("../images/back.jpg") no-repeat;
    background-size: 100vw;
    min-height: 100vh;
    transition: background-image 1.5s ease-in-out;
}

.root-loaded {
    background-image: url("../images/blur.jpg") !important;
}

a, a:hover, a:focus {
    text-decoration: none !important;
}

/*Buttons*/

.button,
.button:focus {
    padding: 10px 30px;
    font-size: 26px;
    color: #e3e3e3;
    font-weight: bold;
    border: 2px #e3e3e3 solid;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.button:hover {
    color: #777777;
    border-color: #777777;
}

.disabled-button, .disabled-button:hover, .disabled-button:focus {
    color: #414141;
    border-color: #414141;
    cursor: default;
}

@media screen and (max-width: 768px) {
    .root {
        background-image: url("../images/blur.jpg");
    }

    .button {
        font-size: 18px;
    }

    button.button, button.button:focus {
        padding: 5px 25px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .button {
        font-size: 21px;
    }

    button.button, button.button:focus {
        padding: 5px 25px;
    }
}