label {
    font-size: 20px;
    line-height: 30px;
}

input {
    height: 35px;
    font-size: 20px;
    line-height: 20px;
    color: black;
    width: 100%;
    border-radius: 4px;
    border: none;
}

input[type="text"] {
    padding-left: 10px;
}

input[type="file"] {
    color: #fafafa;
}

button {
    color: black;
}

button.button, button.button:focus {
    padding: 5px 26px;
    margin-top: -7px;
}

.content {
    margin-top: 17vh !important;
    margin-bottom: 50px;
}

.add-button {
    font-size: 22px;
    font-weight: bold;
    width: 39px;
    height: 39px;
    border-radius: 9px;
    margin-left: 20px;
    line-height: 25px;
    border: none;
    background-color: #f2f2f2;
}

.add-button:hover {
    background-color: #cacaca;
}