h1 {
    color: #ebebeb;
    text-shadow: 2px 2px 15px #222;
}

.form-horizontal {
    font-size: 22px;
    line-height: 35px;
}

.form-control {
    height: 50px;
    font-size: 30px;
}

.form {
    margin-top: 18vh;
    color: #ebebeb;
}

#log-reg-buttons {
    margin-top: 25vh;
    text-align: center;
}

#log-reg-buttons .btn {
    margin-bottom: 20px;
    padding: 5px 30px;
}

.active {
    background-color: black;
}

.header-wrapper {
    text-align: center;
    margin-top: 18vh;
}

.header-wrapper h1 {
    font-size: 45px;
    font-weight: bold;
}

.center p {
    color: #c50000;
}

@media screen and (max-width: 768px) {
    .header-wrapper {
        margin-top: 7vh;
    }

    #log-reg-buttons {
        margin-top: 10vh;
    }

    .form {
        margin-top: 9vh;
        font-size: 20px;
    }
}

@media screen and (max-width: 640px) {
    .button, .button:focus {
        font-size: 16px;
        padding: 10px 20px;
    }

    button.button {
        padding: 3px 15px;
    }

    .form-control {
        height: 45px;
    }
}

@media screen and (max-width: 540px) {
    #log-reg-buttons div {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        width: 100%;
    }
}