#home {
    background-image: url("../images/back.jpg");
    background-size: cover;
    min-height: 760px;
}

.button-wrapper {
    margin-top: 48%;
}

.button,
.button:focus {
    padding: 10px 30px;
    font-size: 26px;
    color: #e3e3e3;
    font-weight: bold;
    border: 2px #e3e3e3 solid;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.button:hover {
    color: #777777;
    border-color: #777777;
}

#button-wrapper {
    margin-top: 12px;
}