#home {
    background-image: url("../images/blur.jpg");
    background-size: cover;
    height: 100vh;
    transition: background-image 1.5s ease-in-out;
}

.home-loaded {
    background-image: url("../images/back.jpg") !important;
}

.button-wrapper {
    margin-top: 77vh;
}

#button-wrapper {
    margin-top: 12px;
}