.navbar {
    background-color: rgba(34, 34, 34, 0.7);
    position: fixed;
    z-index: 1;
    width: 100%;
    border-bottom: 1px #222 solid;
    border-radius: 0;
    height: 50px;
    margin-top: -50px;
}

#login {
    text-align: right;
    font-size: 20px;
    line-height: 20px;
    color: white;
    padding: 16px;
}

#logout-button {
    padding: 7px 16px;
    color: #636363;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
}

#logout-button:hover {
    color: #262626;
    background-color: #cbcbcb;
}

.navbar-brand {
    font-size: 20px;
    color: white !important;
    font-weight: bold;
    padding: 17px 15px !important;
}

.navbar-brand:hover {
    color: gray !important;
}

#logout-button-container {
    line-height: 50px;
}

.dropdown-button {
    width: 35px;
    height: 35px;
    margin-top: 33px;
    margin-left: 48%;
    background-image: url("../images/arrow.svg");
    background-size: cover;
}

.dropdown-button:hover {
    cursor: pointer;
}

#down-button {
    transform: rotate(90deg);
}

#up-button {
    transform: rotate(270deg);
}

@media screen and (max-width: 500px) {
    .not-for-mobile {
        display: none;
    }

    #logout-button-container {
        margin-left: 50%;
    }
}

@media screen and (max-width: 350px) {
    #logout-button-container {
        margin-left: 45%;
    }
}